<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Contact Us</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
    <nav class="navbar navbar-dark bg-dark">
        <h3 class="text-light"><a class="btn btn-dark" href="javascript:history.back()">Back</a></h3>
        <h1 class="text-light" style="margin: 0 auto; padding: 10px;">Employee Management Website</h1>
        <h3 class="text-light">{{name}} <a class="btn btn-dark" href="/logout">Logout</a></h3>
    </nav>
    <h1 class="jumbotron text-center">Contact Us</h1>
    <div class="container text-center">
        <h3>Phone:</h3>
        <h4 class="border rounded-pill" style="padding: 10px;">+91-8860113342</h4>
        <h4 class="border rounded-pill" style="padding: 10px;">+91-9966584234</h4>
        <hr>
        <h3>Email:</h3>
        <h4 class="border rounded-pill" style="padding: 10px;">empcompany@gmail.com</h4>
    </div>
</body>
</html>